# ----------------
# GLOBAL IGNORE
# ----------------

# Node modules (common for both frontend and backend)
**/node_modules/
**/dist/
**/build/
**/.turbo/
**/.next/
**/.vite/
**/.parcel-cache/
**/.eslintcache
**/.cache/

# Environment variables
**/.env
**/.env.*


# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/log/
**/*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# ----------------
# FRONTEND IGNORE
# ----------------

/frontend/.next/
/frontend/.turbo/
/frontend/build/
/frontend/dist/
/frontend/.env*
/frontend/node_modules/

# React/Vite/Parcel
/frontend/.parcel-cache/
/frontend/.eslintcache
/frontend/.cache/


# ----------------
# BACKEND IGNORE
# ----------------

/backend/dist/
/backend/build/
/backend/node_modules/
/backend/.env*
/backend/logs/
/backend/*.log
